<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head> -->
<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-lg-8 col offset-2">
    <br/><br/>
  <h3>Create a New listing</h3>
  <form action="/listings" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title :</label>
      <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control"/>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description :</label>
      <textarea
        name="listing[description]"
        placeholder="enter description"
        class="form-control"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image :</label>
      <input name="listing[image]" placeholder="enter image/URL link" type="text" 
      class="form-control"/>
    </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label ">Price :</label>
            <input name="listing[price]" placeholder="1200" type="number" class="form-control" />
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country :</label>
            <input name="listing[country]" placeholder="India" type="text"  class="form-control"/>
          </div>
    </div>
   
    <div class="mb-3">
      <label for="location" class="form-label">Location :</label>
      <input
        name="listing[location]"
        placeholder="Maharashtra"
        type="text" class="form-control"
      />
    </div>

    <button class="btn add-btn">Add</button>
    <br/><br/>
  </form>
</div>
</div>
</body>
<!-- </html> -->
